ion-content.back {
    --background: none;
    background-image: url('../..//assets/images/Rectangle 30.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.pos{
    position: relative;
    margin: -39px;
    padding: 67px;
    left: 92px;
    right: -5px;
    

}
.position{
    position: relative;
    top: 67px;
}
.vote{
    position: relative;
    top : 73px ;
    left: 8px;
}