ion-content.back {
    --background: none;
    background-image: url('../..//assets/images/Programme – 3.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.position{
    position: relative;
    left: 64% ;
    height: 36% ;
    top: -36%;
}