

ion-content.back {
    --background: none;
    background-image: url('../..//assets/images/candidat – 6.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgstyle{
    padding: 9%;
    margin: -6%;
    width: 117%;
}
  
