
.tab-selected{
    background: white  !important;
    
   color: #4054B2 !important;
  }
  .border1{
    border-bottom-right-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
  }
  .border2{
    border-radius: 15px;
  }
  .border3{
    border-bottom-left-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
  }
  
